* {
  margin: 0;
  padding: 0;
}

#video{
  position: fixed;
  max-width: 50%;
}

#long {
  height: 2000px;
  background: rgb(197, 191, 191);
  scroll-behavior: smooth;
}

#h1 {
  position: fixed;
  font-size: 40px;
  z-index: 12;
}
